/* basic styles */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@import "bourbon/bourbon";
/*$visual-grid: true;
$visual-grid-index: front;*/
@import "neat/neat";


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    background-color: #FBFBFB;
    color: #333;
    font: 1em Century Gothic, sans-serif;
    line-height: 1.4;
    margin: 0 auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

.chromeframe {
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    margin: 0.2em 0;
}

p {
    font-size: .9em;
}

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    color: #777;
}

nav a.active,
nav a:hover,
a:hover {
    color: #333;
}

nav a:hover,
a:hover,
a {
    text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */
footer {
    @include outer-container;
    margin: 0px auto;
    text-align: center;
}

article h2 {
    margin-top: 0;
}

.main, footer {
    border-top: 1px solid #eee;
}

.brand {
    text-align: center;
}

.title {
    color: #333;
}

.logo {
    width: 150px;
}

.main {
    padding: 15px 0;
}

.footer-logo {
    width: 80px;
    margin-top: 10px;
}

.ie7 .title { /* Not sure if this is needed */
    padding-top: 20px;
}

.galleries-link-container {
    text-align: center;
    margin-bottom: 10px;
}
.gallery-image-link {
    display: block;
    img {
        width: 100%;
    }
}

.gallery-link {
    padding-top: 10px;
    display: inline-block;
}

.active-picture-container {
    text-align: center;
}

.pictures-list {
    margin: 5px 0;
    padding: 0;
    li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
    }
}

.gallery-image-link {
    position: relative;
}

@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  -ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)”;
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

.gallery-link-logo {
    position: absolute;
    top: 0;
    width: 100%;
    background: #000 url('/images/look-arrow-logo-2-white.svg') no-repeat center center;
    background-color: #333;
    background-size: 60%;
    height: 100%;
    /*@include opacity: 0;*/
	filter: alpha(opacity= 0 * 100 );
    zoom: 1;
    @include transition (opacity .3s ease);
}

.no-svg {
    .gallery-link-logo {
        background: none url('/images/look-arrow-logo-2-white-175x40.png') no-repeat center center;
    }
}

/*
.main .galleries-link-container .gallery-image-link img.logo-hover {
    display: block;
    position: absolute;
    top: 40%;
    left: 33%;
    z-index: -1;
    width: 16.5%;
    height: auto;
    min-width: inherit;
}
*/

.gallery-image-link:hover {
    background-color: #fff;
    .gallery-link-logo, .logo-hover {
        display: block;
        opacity: 0.75;
        filter: alpha(opacity= 0.75 * 100 );
        @include transition (opacity .3s ease);
    }
}

.about-aside,
.resources-aside,
.gallery-aside {
    margin: 0 auto;
    text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}