/* large and up */

body {
	max-width: 960px;
	padding: 0 10px;
}
.main aside img {
    max-width: 100%;
}

.main {
    @include outer-container;
    .galleries-link-container {
        @include span-columns(4);
        @include nth-omega(3n);
        padding-bottom: 10px;
        .gallery-image-link {
            img {
            	width: auto;
            }
        }
    }
}

.gallery-aside {
      @include span-columns(2);
}

.active-picture-container {
	overflow-x: hidden; //straight crops off the right side of the image if its too big
	text-align: left;

}
.gallery-section {
      @include span-columns(10);
      img {
      	max-height: 600px;
      	overflow-x: hidden;
      }
}

.gallery-aside-large {
      @include span-columns(7);
      float: right;
}

.gallery-section-small {
      @include span-columns(5);
      img {
      	height: 550px;
  	}
}

.about-aside {
      @include span-columns(6);
}

.about-article {
      @include span-columns(6);

}

.resources-aside {
      @include span-columns(6);
      float: right;
}

.resources-article {
      @include span-columns(6);
}


