---
title: Look Portrait - About
---
<div class="main">
    <aside class='about-aside'>
        <%= image_tag 'db-baby-photo.png', :alt=>'Dan Brouillette', :class=>'about-image' %>
    </aside>
    <article class="about-article">
        <section>
            <h2>About</h2>
            <dl>
                <dt>Email</dt>
                <dd><%= mail_to 'dan@danbrouillette.com' %></dd>
                <dt>Twitter</dt>
                <dd><%= link_to '@DanBrouillette', 'https://twitter.com/DanBrouillette' %>
                <dt>Phone</dt>
                <dd>712-123-4567</dd>
                <dt>Address</dt>
                <dd>1234 Dodge St.</dd>
                <dd>Omaha, NE 68102</dd>
            </dl>
            <p><%= lorem.paragraph %></p>
        </section>
    </article>
</div> <!-- #main -->